/*CSS reset rule - code from Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  width: 400px;
  margin: 0;
  padding: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /*allows the body element to grow with it's content, the html element will grow with the body element*/
  /*width is 100% viewport*/
  /*Adding 100vw gives us a scrol bar*/
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}



header {
  width: 100%;
  margin-top: 20px;
}

header > h1 {
  font-size: 1rem;
}

.main-content {
  width: 100%;
}

.tagline {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: lighter;
}

main {
  background-color: #6943ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#see-saved-links {
  padding: 7px 12px;
  color: #6943ff;
  background-color: white;
  border: none;
  margin-top: 30px;
  
}

#see-saved-links:hover{
 text-decoration: underline;
 cursor: pointer;
}
.links-btn {
  padding: 10px;
  min-width: 300px;
  min-height: 70px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-size: 1.3rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #555555;
  transition: all 0.3s ease;
}
.links-btn:hover {
  /*transform: translate(-.5px, -.5px);*/
  color: white;
  background-color: #6943ff;
}

.form-container {
  color: #6943ff;
  margin-top: auto; /* `margin: auto;` is the default. */
  transform: translateX(-50%);
  left: 50%;
}

dialog::backdrop{
  background: blur;
}

form{
    padding: 1em;
    display: flex;
    flex-direction: column;
    /*box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2);*/
    
}
.close {
  color:#6943ff;
  background: transparent;
  border: none;
  position: absolute;
  left: 335px;
  font-size: 1.5rem;
  top: -4px;
  padding: .4px 7px;
}

.close:hover{
  background-color: red;
  color: white;
}


label {
    min-width: 90px;
}

form > header {
    background:#6943ff;
    width: 100%;
    height: 4rem;
    display: flex;
    margin-bottom: 10px;
}
form > header > h2 {
    color: white;
    font-weight: 100;
    text-align: center;
    vertical-align: center;
    margin: auto;
}

label { 
  margin-bottom: 2px;
  font-weight: bold;
}
input {
  margin-bottom: 5px;
  padding: 2px 3px;
  
}

.btn-container{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.btn-container > button {
  background-color: #6943ff;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.btn-container > button:hover{
    color: #6943ff;
    background-color: white;
    border: 1px solid #6943ff;
}

button:first-child{
  margin-right: 20px;
}

form > input:hover {
   border: 2px solid #6943ff;
}

#new-category{
  margin-bottom:-10px;
}
 
@media (max-width: 400px) {
  main {
    width: 100%;
    padding: 10px;
  }

  .form-container {
    width: 100%;
  }

  form > header > h2 {
    font-size: 1.2rem;
  }

  .btn-container > button {
    padding: 8px 12px;
  }
}
